<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>


        <services>
            <service name="BiblioServerWCF.ServiceOuvragesCRUD">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceOuvragesCRUD" />
            </service>
            <service name="BiblioServerWCF.ServiceProfsCRUD">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceProfsCRUD" />
            </service>
            <service name="BiblioServerWCF.ServiceStudentsCRUD">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceStudentsCRUD" />
            </service>


            <service name="BiblioServerWCF.ServiceHumansAuth">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceHumansAuth" />
            </service>


            <service name="BiblioServerWCF.ServiceBiblioAdminOper">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceBiblioAdminOper" />
            </service>
            <service name="BiblioServerWCF.ServiceBiblioMembersOper">
                <endpoint address="" binding="webHttpBinding"
                          contract="BiblioServerWCF.IServiceBiblioMembersOper" />
            </service>

        </services>


        <behaviors>
            <endpointBehaviors>
                <behavior name="">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment
                                   multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>